.pokemon {
    width: 1200px;
    margin: 40px auto;
    padding: 40px;
    color: #555;
    background: rgb(241, 250, 250);
    box-sizing: border-box;
    text-align: center;
}

.pokemon ul {
    text-align: left;
    margin-top: 0;
    padding: 0;
}

.pokemon li {
    margin: 10px 0;
    list-style-type: none;
    color: #555;
}

.pokemon li::after {
    content: ',';
}

.pokemon li:last-child::after {
    content: '.';
}

.pokemon.dark {
    background: rgb(88, 84, 84);
}

.pokemon.dark h2,
.pokemon.dark p,
.pokemon.dark li {
  color: rgb(198, 204, 204);
}